ul.keyboard
  img.keyboard__icon(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2361/keyboard.svg")
  li.keyboard__item
    | wipe the board
    span.keyboard__key W
  li.keyboard__item
    | kill all agents
    span.keyboard__key Q
  li.keyboard__item
    | toggle agent visibiity
    span.keyboard__key T
  li.keyboard__item
    | toggle mouse visibiity
    span.keyboard__key M
  li.keyboard__item
    | toggle hexagon visibility
    span.keyboard__key H
  li.keyboard__item
    | toggle grid visibility
    span.keyboard__key G
  li.keyboard__item
    | add a creator
    span.keyboard__key C
  li.keyboard__item
    | add a destroyer
    span.keyboard__key D
  li.keyboard__item
    | pause/unpause agents
    span.keyboard__key Space
  li.keyboard__item
    | draw
    span.keyboard__key Click